#home {
  #header {
    background: image-url('plate.jpg');
    background-size: cover;
    height: 900px;
  }
  #block {
    margin-right: 90px;
    margin-left: 90px;
  }
  #honey {
    background: image-url('3bees.jpg');
    background-size: cover;
    height: 650px;
  }
  #about {
    background: image-url('plate2.png');
    background-size: cover;
    height: 650px;
  }
}

.white {
  color: #ffffff;
}
