<div id="home">
  <div class="bg-white" id="about">
    <div class="container">
      <h1 class="text-center py-3 pt-5"><strong>OUR ROOTS</strong></h1>
    </div>
  </div>

  <div class="bg-white">
    <div class="py-5 d-flex" id="block">
      <div class="p-4 text-center w-75 mx-auto">
        <h4 class="pb-3"><strong>THE TRUTH</strong></h4>
        <h6 class="pr-5">Real honey is not cheap, its demand is increasing and the supply, decreasing, therefore, many countries, especially China and India, have been producing <em>fake</em> honey to cover that demand at significantly lower costs.</h6>
        <p>→ Today, <strong>honey is the third most adulterated</strong> or "faked" product in the world. So, what you are probably buying at cheap price points in the supermarket is not honey but watered down versions mixed with sugar and corn syrup.</p>
      </div>
    </div>
  </div>

  <div class="bg-black">
    <div class="py-5" id="block">
      <div class="p-5 align-self-center">
        <h5 class="text-center pb-3">BE SAFE WITH HONEY MAX</h5>
        <p class="text-center align-self-center w-75 mx-auto">Honey Max has been sourcing honey from the same producers for the last 30 years, ensuring quality and pure-ness. acility in Argentina. All our processing facilities undergo regular and strict audits and improvements in order to continue to meet global standards.</p>
      </div>
      <div class="cards d-flex pb-5 justify-content-center">
        <%= image_tag "upside.jpg", class: "big-card" %>
        <%= image_tag "front.jpg", class: "big-card" %>
        <%= image_tag "head.jpg", class: "big-card" %>
      </div>
      <p class="text-center">
      We are a HACCP accredited factory and follow protocol to obtain the following:
      Certificate of Analysis
      Certificate of Origin
      True Source Certified™
      </p>
    </div>
  </div>












</div>
