<div id="home">
  <div class="bg-white" id="honey">
    <div class="container">
      <!-- <h1 class="text-center py-3 pt-5"><strong>OUR HONEY'S ORIGIN</strong></h1> -->
    </div>
  </div>

  <div class="bg-white">
    <div class="py-3 d-flex" id="block">
      <div class="p-4 text-center w-75 mx-auto">
        <h2 class="pb-3"><strong>A NATIONAL STAR</strong></h2>
        <p class="pb-3 pr-5">Argentina, better known for its first class beef and wine, is the third largest exporter of honey in the world, accounting for between 17-22% of the global market. Much of Argentina’s 80,000 tonne crop comes from the nectar of the eucalyptus tree resulting in bold, complex tastes.</p>
      </div>
    </div>
  </div>



  <div class="bg-black">
    <div class="py-5" id="block">
      <div class="rectangular-cards mx-auto py-3">
        <%= image_tag "joint.jpg", class: "rectangular-card"%>
      <div class="p-5 text-center align-self-center">
        <h5 class="pb-3">THE SECRET IS IN THE HONEY</h5>
        <p>There is no place on earth as rich in high quality honey as the interior of Argentina. </p>
        <p>And, through Honey Max, we want to share it with the rest of the world.</p>
      </div>
        <%= image_tag "bees.png", class: "rectangular-card"%>
      </div>
    </div>
  </div>

</div>



<!-- Argentina, better known for its first class beef and wine, is the third largest exporter of honey in the world, accounting for between 17-22% of the global market.
Much of Argentina’s 80,000 tonne crop comes from the nectar of the eucalyptus tree resulting in bold, complex tastes.


SOME FACTS
<div>
WORLD RANKING
The worlds largest honey producing countries are China, Argentina, Mexico, Australia and Canada.
</div>
<div>
HONEY TYPES
Each country has its special floral honey varieties. Each floral variety has its own distinct and original taste, texture, and colour.
</div>
<div>
HOW IT IS MADE
Bees work the flowers from the different trees they visit and that creates the different honeys.
</div>

First class honey.
Not blended with Chinese honeys, with its sugar syrup, contamination and blending issues. Not blended with honeys from India, the source of the so-called artificial honey.
 -->
